body, div, section, span, ul, li, a {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  list-style: none;
  text-decoration: none;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../images/backdrop.png');
  background-size: 100% 175%;
  opacity: 0.9;
}

@font-face {
  font-family: 'plantslettersregular';
  src: url('../plants-font/plantsletters-webfont.woff2') format('woff2'),
       url('../plants-font/plantsletters-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text {
  position: relative;
  float: right;
  width: 480px;
  height: 250px;
}

.get-ripe {
  font-family: "plantslettersregular", sans-serif;
  font-weight: normal;
  font-size: 80px;
  text-align: center;

  display: block;
  width: 480px;
}

.author {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;

  display: block;
  width: 120px;
  margin: -5px auto 0 auto;
}

.buttons {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  width: 390px;
  margin: 0 auto;
}

.buttons li {
  float: left;
  color: #24361e;
  margin: 5px 10px 0 10px;;
  cursor: pointer;
  background: #adc3a6;
  opacity: 0.6;
  border-radius: 3px;
  padding: 1px 4px;
}

.buttons li a {
  color: #24361e;
}

.buttons li:hover {
  background: #cddbc9;
}

.instructions {
  font-size: 12px;
  text-align: center;

  background: #fff;
  padding: 3px;

  opacity: 0;
  width: 200px;
  margin-right: 10px;
  border-radius: 6px;

  position: absolute;
  top: 30px;
  right: -65px;

  pointer-events: none;
}

.instructions:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.instructions-link {
  position: relative;
}

.instructions-link:hover .instructions {
  opacity: 0.9;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
